/* fonts */
@font-face {
    font-family: 'garnet';
    src:
        url('../fonts/garnet.ttf') format('truetype'), 
        url('../fonts/garnet.woff2') format('woff2'),
        url('../fonts/garnet.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "MADE TOMMY";
    src:
        url("../fonts/madetommy.ttf") format("truetype"),
        url("../fonts/madetommy.woff2") format("woff2"),
        url("../fonts/madetommy.woff") format("woff");
}
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Oswald:wght@700&display=swap');

body {
    background-image: url('../images/upper.png') !important;
    background-repeat: repeat-y;
    background-position: 25% 25%;
}
nav {
    background-color: white;
}
img {
    max-width: 100%;
    height: auto;
}
.navbar-brand {
    margin: 15px;
    width: 15%;
}
.navbar-brand:hover {
    filter: brightness(0%) invert(0);
}
.logo {
    width: 100%;
}
.nav-item {
    font-family: 'garnet';
    font-weight: bold;
    font-size: 1.30vw;
}
.toolbar {
    margin-right: 15px;
}
.redlink:link, .redlink:visited, .redlink>*>a:link, .redlink>*>a:visited {
    color: #18181a !important;
}
.redlink:hover, .redlink>*>a:hover {
    color: #ef233c !important;
}
.cart-title {
    font-weight: bold;
    font-size: 20px;
    font-family: fot-rodin-pron,sans-serif;
    margin-top: 10px;
}
.cart-remove {
    position: absolute;
    top: 10%;
    right: 2%;
}
.cart-shoe {
    background-color: #ef233c;
}
.cart-shoe-img {
    max-width: 90%;
    margin: 5px;
}
.cart-shoe-title {
    font-family: 'Dela Gothic One', cursive;
}
.cart-shoe-price {
    color: #ef233c;
    font-family: 'Oswald', sans-serif;
}
.glitch-red {
    position: static;
    width: 2.6vw;
    height: 25px;
    background-color: #ef233c;
}
.glitch-red-2 {
    position: relative;
    margin-top: 5%;
    left: 8%;
    width: 13.137vw;
    height: 20px;
    background-color: #ef233c;
}
.glitch-red-3 {
    position: relative;
    width: 13.137vw;
    height: 10px;
    background-color: #ef233c;
}
.brand-img {
    position: absolute !important;
    margin-left: 12.5vw;
    max-width: 85vw !important;
}
.shoe-img {
    position: absolute !important;
    margin-left: 25.5vw;
    max-width: 74.5vw !important;
}
.carousel-shoe-card * {
    position: relative;
}
.shoe-desc {
    margin-left: 5.5vw;
}
.shoe-code {
    font-family: fot-rodin-pron,sans-serif;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 3px;
}
.shoe-title {
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
    font-family: 'Dela Gothic One', cursive;
    letter-spacing: 15px;
    width: 37.5vw;
}
.shoe-desc {
    padding-top: 4%;
}
.shoe-price {
    padding-top: 10%;
    color: #ef233c;
    font-family: 'Oswald', sans-serif;
}
.brand-full-img {
    filter: brightness(0%) invert(0);
}
.buycard {
    display:inline-block;
    margin-top: 10%;
}
.btn-warning, .btn-warning:hover, .btn-warning:active, .btn-warning:visited, .btn-warning:focus {
    box-shadow:none !important;
    outline:0px !important;
    background-color: #ef233c !important;
    border-color:#ef233c !important;
    font-family: "MADE TOMMY";
    vertical-align: bottom;
    margin-left: 25px;
}
.flip {
    transform: scaleX(-1);
}
.selector {
    margin-top: -55vh;
    position: absolute;
    right: 0;
}
.card {
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
    border: none !important;
    max-width: 375px;
}
.selector-img {
    margin: 5px;
    max-width: 150px;
    height: 126.86px;
}
.selector-img-container {
    width: 150px;
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
}
.selector-card {
    border: 1px solid rgba(0,0,0,.125);
    border-left: none;
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
}
.card-title {
    font-family: 'Dela Gothic One', cursive;
}
.dot {
    cursor: pointer;
}
.carousel-paginator {
    position: absolute;
    top: 10%;
    right: 105%;
}
.carousel-paginator>span + span {
    margin-top: 860%;
    display: block;
}
.about {
    margin-top: 5%;
}
.about-logo {
    width: 100%;
}
.btn-how, .btn-how:hover, .btn-how:active, .btn-how:focus, .btn-how:visited {
    box-shadow:none !important;
    outline:0px !important;
    background-color: #ef233c !important;
    border-color:#ef233c !important;
    font-family: "MADE TOMMY";
}
.search {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, .7)
}
.search-content {
    position: relative;
    top: 46%;
    width: 80%;
    text-align: center;
    margin-top: 30px;
    margin: auto;
  }
  
  .search .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    cursor: pointer;
    color: white;
  }
  
  .search .closebtn:hover {
    color: #ccc;
  }
  
  .search input[type=text] {
    padding: 15px;
    font-size: 17px;
    border: none;
    float: left;
    width: 80%;
    background: white;
  }
  
  .search input[type=text]:hover {
    background: #f1f1f1;
  }
  
  .search button {
    float: left;
    width: 20%;
    padding: 15px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
  .search button:hover {
    background: #bbb;
  }